
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Conta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-5">
    <h3> Adicionar Dados da Conta Destino</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/api/informarTransferencia}"
                          th:object="${conta}" method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="conta" class="col-form-label">Conta</label> <input
                                class="form-control" id="conta" name="conta" value=""
                                required oninvalid="this.setCustomValidity('Informe o número da conta')"
                                onchange="try{setCustomValidity('')}catch(e){}" type="text" maxlength="6" oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                                placeholder="Informe o número da conta">
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="agencia" class="col-form-label">Agência</label> <input
                                type="text" class="form-control" id="agencia" name="agencia"
                                value=""
                                required oninvalid="this.setCustomValidity('Informe o número da Agência')"
                                onchange="try{setCustomValidity('')}catch(e){}" maxlength="4" oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                                placeholder="Informe o número da Agência">
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="agencia" class="col-form-label">Cpf</label> <input
                                type="text" class="form-control" id="cpf" name="cpf"
                                value=""
                                required oninvalid="this.setCustomValidity('Informe o CPF)"
                                onchange="try{setCustomValidity('')}catch(e){}" maxlength="11" oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                                placeholder="Informe o CPF">
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="nome" class="col-form-label">Nome</label> <input
                                type="text" class="form-control" name="nome"
                                value=""  oninput="this.value=this.value.replace(/[^a-zA-Z.]/g,'');"
                                required oninvalid="this.setCustomValidity('Informe o nome do destinatário')"
                                onchange="try{setCustomValidity('')}catch(e){}"
                                id="nome" placeholder="Informe o nome do Destinatário">
                        </div>
                        <div class="col-md-6">
                            <button type="submit"   class="btn btn-primary">Adicionar</button>
                        </div>
                        <div class="form-group col-md-8"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>